.App {
  font-family: "Inter Display", sans-serif;
  text-align: center;
  padding: 20px;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-card img {
  max-width: 100%;
  border-radius: 8px;
}

.food-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.food-card p {
  margin: 5px 0;
}

.food-card button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.food-card button:hover {
  background-color: #218838;
}

.cart {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
}

.cart h2 {
  margin-bottom: 10px;
}